*{
    margin:0;
    padding:0;
}

html{
    color:white;
}

body{
    background-image:url('../Images/codingimage.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}

/*Adjusts the image*/
#image{
    border-radius:100px;
    position:absolute;
    top:150px;
    left:635px;
}

h1{
    text-align:center;
    margin-top:25px;
    font-family: 'Lato', sans-serif;
}

h2{
    text-align:center;
    margin-top:25px;
    font-family: 'Lato', sans-serif;
}

#navbar{
    display: flex;
    justify-content:flex-start;
    background-color:black;
}

#navbar a{
    text-decoration:none;
    color:white;
    font-family: 'Noto Sans', sans-serif;
    font-size:24px;
    padding: 3.00vh 1.35vw;
}

#navbar a:hover{
    background-color: #201548;
    
}

img{
    position:relative;
    left:1350px;
    top:-96px;
}